@media (max-width: 768px) {
    nav {
      flex-direction: column;
    }
  
    .nav-links {
      flex-direction: column;
      display: none; 
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
  
    .nav-links.show {
      display: flex; 
    }
  
    .project-grid {
      max-width: 100%;
      grid-template-areas:
        "figure1"
        "figure2"
        "figure3"
        "figure4"
        "figure5"
        "figure6"
        "figure7"
        "figure8"
        "figure9";
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  
    .project {
      width: 100%;
      position: relative;
    }
  
    .hamburger {
      display: block;
    }
  
    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem;
      width: 100%;
    }
  }
  
